.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
*.log

work/
android/.kotlin/
windows/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift

functions/class-729-app-firebase-adminsdk-fbsvc-67f7690e0d.json
functions/.env
functions/.env.*
!functions/.env.example

**/node_modules/